[mysqld]
# sql-mode="ALLOW_INVALID_DATES"
# sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
group_concat_max_len=102400
# The default authentication plugin to be used when connecting to the server
#default_authentication_plugin=caching_sha2_password
#default_authentication_plugin=mysql_native_password
collation-server=utf8_unicode_ci
character-set-server=utf8
default_authentication_plugin=mysql_native_password
sql-mode=""